<section class="jumbotron" ng-class="{'active': isActive('catalog')}">
    <div class="container" ng-repeat="group in user.Groups">
        <!--<h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
            <a href="catalog">
                <img ng-src="{{user.Company.LogoUrl}}" />
            </a>
            <span>{{user.Company.Name}}</span>
            <homemessage />
        </h2>-->
        <img ng-show="group.Name == 'SalesPortal'" class="img-responsive" ng-src="css/images/custom/modmedSalesBanner1.png" />
    </div>
</section>
